Rudy Orre  
Section: 0130  
3 March 2021

In [1]:
from datascience import *
actors = Table.read_table('datasets/actors.csv')
actors

Unnamed: 0 | Actor              | Total Gross | Number of Movies | Average per Movie | #1 Movie                     | Gross
0          | Harrison Ford      | 4871.7      | 41               | 118.8             | Star Wars: The Force Awakens | 936.7
1          | Samuel L. Jackson  | 4772.8      | 69               | 69.2              | The Avengers                 | 623.4
2          | Morgan Freeman     | 4468.3      | 61               | 73.3              | The Dark Knight              | 534.9
3          | Tom Hanks          | 4340.8      | 44               | 98.7              | Toy Story 3                  | 415
4          | Robert Downey, Jr. | 3947.3      | 53               | 74.5              | The Avengers                 | 623.4
5          | Eddie Murphy       | 3810.4      | 38               | 100.3             | Shrek 2                      | 441.2
6          | Tom Cruise         | 3587.2      | 36               | 99.6              | War of the Worlds            | 234.3
7          | Johnny Depp        | 3368.6      | 45               | 74.9              | Dead Man's Chest             | 423.3
8          | Michael Caine      | 3351.5      | 58               | 57.8              | The Dark Knight              | 534.9
9          | Scarlett Johansson | 3341.2      | 37               | 90.3              | The Avengers                 | 623.4
... (40 rows omitted)

<h3>1.1 Write a line of code that returns actors sorted from highest to lowest number of movies.</h3>

In [2]:
actors = actors.sort('Number of Movies', descending=True)
actors

Unnamed: 0 | Actor              | Total Gross | Number of Movies | Average per Movie | #1 Movie            | Gross
19         | Robert DeNiro      | 3081.3      | 79               | 39                | Meet the Fockers    | 279.3
1          | Samuel L. Jackson  | 4772.8      | 69               | 69.2              | The Avengers        | 623.4
21         | Liam Neeson        | 2942.7      | 63               | 46.7              | The Phantom Menace  | 474.5
2          | Morgan Freeman     | 4468.3      | 61               | 73.3              | The Dark Knight     | 534.9
12         | Bruce Willis       | 3189.4      | 60               | 53.2              | Sixth Sense         | 293.5
8          | Michael Caine      | 3351.5      | 58               | 57.8              | The Dark Knight     | 534.9
4          | Robert Downey, Jr. | 3947.3      | 53               | 74.5              | The Avengers        | 623.4
17         | Stanley Tucci      | 3123.9      | 50               | 62.5              | Catching Fire       | 424.7
27         | Woody Harrelson    | 2815.8      | 50               | 56.3              | Catching Fire       | 424.7
11         | Robin Williams     | 3279.3      | 49               | 66.9              | Night at the Museum | 250.9
... (40 rows omitted)

<h3> 1.2 Write a line of code to find the actor who has made the most movies. Do not return a table with the actor's name; just return the name as a string. </h3>

In [3]:
actors.column('Actor').take(0)

'Robert DeNiro'

<h3>1.3 What is Tom Hank's #1 movie? Write a line of code to retunr the name of the movie as a string.</h3>

In [4]:
actors.where('Actor','Tom Hanks')['#1 Movie'].take(0)

'Toy Story 3'

<h3> 1.4 write a line of code which returns a table consisting of only the "Actor" column where the elements in the "Actor" column are the names of actors who have above 40 movies and have a total gross below 3000.</h3>

In [5]:
actors.where('Number of Movies', are.above(40)).where('Total Gross', are.below(3000)).select('Actor')

Actor
Liam Neeson
Woody Harrelson
Tommy Lee Jones
Dustin Hoffman
Julia Roberts

Rudy Orre  
Section: 0130  
3 March 2021